.demo-main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #e0e6f3;
    .demo-main-left {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 3rem;
        font-family: inter;
        font-weight: 700;
        letter-spacing: -0.05em;
        flex-direction: column;
    }

    .demo-main-right {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 3rem;
        font-family: inter;
        font-weight: 700;
        letter-spacing: -0.05em;
        padding: 22rem 0;
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }


    .d {
        &-pfp {
            height: 20rem;
            border: 3px solid #010642;
            border-radius: 2rem;
            margin-left: 5rem;
        }
        &-profile-info {
            margin-top: 2rem;
            margin-left: 3rem;
            letter-spacing: inherit;
            font-family: inherit;
            font-weight: inherit;
            display: flex;
            flex-direction: column;
        }
        &-profile-info-text {
            letter-spacing: inherit;
            font-family: inherit;
            font-weight: inherit;
            &-small {
                @extend .d-profile-info-text;
                font-size: 2.4rem;
                font-weight: 500;
            }
        }
        &-game {
            &-container {
                color: black;
                width: 50rem;
                height: 52rem;
                background: white;
                margin-top: 2rem;
                border: 1px solid gainsboro;
                border-radius: 2rem;
                margin-bottom: 2rem;
                padding: 5rem;
            }
            &-screen {
                height: 35rem;
                width: 100%;
                background: #cdcdcd;
                background: #94b985;
                border-radius: 2rem;
                display: flex;
                flex-direction: column;
            }
            &-button-row {
                height: 6rem;
                margin-top: 2rem;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
            &-coin-counter {
                align-self: flex-end;
                margin: 4rem;
                font-family: retro;
                font-size: 4rem;
                letter-spacing: 0.2rem;
                // background-color: #526a48;
                // background-color: #7d9972;
                padding: 0.8rem 0.2rem 0.3rem 0.7rem;
                line-height: 0.6;
                border: 1px solid #737b3c;
            }
            &-display-text {
                text-align: center;
                /* margin-top: 3rem; */
                font-family: 'retro';
                letter-spacing: 0;
                font-size: 4rem;
                /* margin: 2rem 3rem; */
                height: 11rem;
                padding: 3rem;
                justify-content: center;
                align-items: center;
                display: flex;
                animation: textslowstrobe 0.5s linear infinite;
            }

            @keyframes textslowstrobe {
                0% {
                    opacity: 1;
                }
                50% {
                    opacity: 1;
                }
                51% {
                    opacity: 0.5;
                }
                100% {
                    opacity: 0.5;
                }
            }

            &-b {
                // buttons
                &-cash {
                    border: 1px solid black;
                    background: transparent;
                    font-size: 3rem;
                    padding: 1rem;
                    line-height: 1;
                    font-family: 'Inter';
                    font-weight: 700;
                    letter-spacing: -0.05em;
                    border-radius: 1.5rem;
                    font-size: 2.8rem;
                    color: #000000;
                    /* padding: 1.2rem; */
                    /* font-size: 2.6rem; */
                    width: 16rem;
                    width: 24rem;
                    height: 5rem;
                    
                    transition: all 0.1s ease-out;
                    &:hover {
                        background: black;
                        color: #ffffff;
                    }
                    &:active {
                        font-size: 2.6rem;
                        background: transparent;
                        color: #000000;
                    }
                    &:disabled {
                        cursor: initial;
                    }
                }

                &-spin {
                    @extend .d-game-b-cash;
                    width: 100%;
                    margin-left: 2rem;

                    &:active {
                        letter-spacing: 0.3rem; //extra effect
                    }
                }
            }
            
            &-slots-row {
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
            
            &-slot {
                height: 10rem;
                border: 1px solid grey;
                margin: 1rem;
                width: 10rem;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
            
                img {
                    height: 100%;
                }
            }

        }
        
        &-footer {
            font-size: 2rem;
            font-weight: 400;
            color: #010642;
            width: 45rem;
            letter-spacing: -0.02em;
        }
    }
    
    .patch-melon {
        img {
            height: 206%;
            padding-left: 1.5rem;
            margin-top: -1.4rem;
        }
    }
    
    .patch-orange {
        img {
            height: 230%;
            margin-top: -3.5rem;
            margin-left: 0.6rem;
        }
    }

    .patch-cashout {
        &:disabled {
            color: grey;
            border: 1px solid grey;
        }
    }
}


