.page-landing{
    //NAMING CONVENTION pages' main container should be in the format of page-{NAME}
}

.lp-hero {
    background-color: $offwhite;
    height: 50rem;
    width: 100%;
}

.lp-hero-content {
    display: flex;
    flex-direction: column;
    justify-content: row;
    align-items: center;
    height: 100%;
    width: 100%;
    // background-color: $offwhite;
}

.lp-hero-left {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.lp-hero-maintext {
    font-size: 4.2rem;
    font-weight: bold;
    color: $darkblue;
    font-family: georama;
}

.lp-hero-subtext {
    margin-top: 1.2rem;
    font-size: 2.2rem;
    color: $grey;
    margin-bottom: 1.8rem;
}

.scroll-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // height: 100%;
    // width: 100%;
    width: 70rem; // this width is important 
}

.scrolltext-display {
    display: flex;
    flex-direction: column;
    // height: 5rem;
    position: relative;
    height: 100%;
    width: 100%;
}

.scrolltext {
    position: absolute;
    white-space: nowrap;
    // transition: all ease-in-out 1s;
    transition: all cubic-bezier(0.53, -0.43, 0.25, 1.01) 1s;

    &-pre {
        @extend .scrolltext;
        top: -100%;
    }

    &-mid {
        @extend .scrolltext;
        top: 0%;
        opacity: 1;
    }

    &-post {
        @extend .scrolltext;
        top: 100%;
        opacity: 1;
        // transition: top cubic-bezier(0.53, -0.43, 0.25, 1.01) 1s, opacity cubic-bezier(0.53, -0.43, 0.25, 1.01) 1s;
    }
}

// .scrolltext-pre {
//     position: absolute;
//     top: -100%;
//     white-space: nowrap;
// }

// .scrolltext-main {
//     position: absolute;
//     top: 0;
//     white-space: nowrap;
// }

// .scrolltext-post {
//     position: absolute;
//     top: 100%;
//     white-space: nowrap;
// }