.page-landing{
    //NAMING CONVENTION pages' main container should be in the format of page-{NAME}
}

.lp-hero {
    height: 50rem;
    width: 100%;
    
    &-main {
        background-color: $offwhite;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // height: 100%;
        width: 100%;
        height: 40rem;
        border-bottom: 1px solid gainsboro;
        // background-color: $offwhite;
    
        .lp-hero {

            &-left {
                height: 100%;
                flex: 1;
                flex: 0.8;
                padding-left: 10rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                &-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                }
            }
            &-right {
                flex: 1;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            
                img {
                    width: 50%;
                    min-width: 50rem;
                    margin-right: 10rem;
                    opacity: 1;
                }
            }
            
            &-maintext {
                font-size: 4.2rem;
                font-weight: bold;
                color: $darkblue;
                font-family: georama;
            }
            
            &-subtext {
                margin-top: 1.2rem;
                font-size: 2.2rem;
                color: $grey;
                margin-bottom: 1.8rem;
            }
        }
    
    }
    
    &-footer {
        height: 20rem;
        width: 100%;
        /* background: #000000; */
        /* opacity: 0.5; */
        margin-top: -10rem;
        /* flex: 1; */
        display: flex;
        /* min-height: 20rem; */
        justify-content: center;
        align-items: center;
        &-content {
            width: 75%;
            height: 15rem;
            background: white;
            border-radius: 2rem;
            border: 1px solid gainsboro;
        }
    }
}



.scrolltext-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // height: 100%;
    // width: 100%;
    width: 60rem; // this width is important 

    .scrolltext-display {
        display: flex;
        flex-direction: column;
        // height: 5rem;
        position: relative;
        height: 100%;
        width: 100%;
    }
    
    .scrolltext {
        position: absolute;
        white-space: nowrap;
        // transition: all ease-in-out 1s;
        transition: all cubic-bezier(0.53, -0.43, 0.25, 1.01) 1s;
    
        &-pre {
            @extend .scrolltext;
            top: -100%;
        }
    
        &-mid {
            @extend .scrolltext;
            top: 0%;
            opacity: 1;
        }
    
        &-post {
            @extend .scrolltext;
            top: 100%;
            opacity: 1;
            // transition: top cubic-bezier(0.53, -0.43, 0.25, 1.01) 1s, opacity cubic-bezier(0.53, -0.43, 0.25, 1.01) 1s;
        }
    }
}
