* {
    // font-family: Inter;
    // letter-spacing: -0.32rem;
    // letter-spacing: -0.1em;
    // letter-spacing: -0.09em;
    font-family: roboto;
}

body {
    font-size: 1.4rem;
}



//0.32rem

html {
    font-size: 62.5%;
}