// This file holds the *basic* variables etc,
// for base styles as well as the variables
// that are used frequently.



/* base responsive settings */
// breakpoints
$desktop-breakpoint: 1024px;
$tablet-breakpoint: 720px;
$mobile-breakpoint: 540px;


/* base colors */

$grey: #677294;
$blue: #2835D5;
$offwhite: #eef1ff;
$darkblue: #08054E;